<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>

    <body>
        <header><img src="/img/saturn.png" alt="travel to saturn" /></header>
        {{{body}}}
    </body>
</html>
