<html>
    <head>
        <title>Meadowlark Travel</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        <header><img src="/img/logo.jpg" alt="travel to saturn" /></header>
        {{{body}}}
    </body>
</html>
